body{
    margin: 0px;
    padding: 0px;
}

.form{
    border: none;
    background-color: cadetblue;
    margin: 100px 500px;
    padding: 30px 35px;
    width: 25%;
    height: 350px;
    border-radius: 10px;
}

.signup{
    font-size: 15pt;
    margin: 10px 0px;
    text-align: center;
}

.form .input-group{
    margin-left: 18px;
}

.form .input-group label{
    margin-bottom: 3px;
    display: block;
    margin-top: 10px;
}

.form .input-group .user-input{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
}

.form .input-check{
    margin: 10px 0px;
    text-align: center;
}

.button{
    text-align: center;
    margin-top: 10px;
}

.register{
    background-color: black;
    color: white;
    padding: 7px 25px;
    border-radius: 7px;
    border: none;
}

.footer{
    text-align: center;
    margin-top: 7px;
}
