body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container .form{
    margin-top: 60px;
    height: 450px;
    width: 30%;
    background-color: burlywood;
    border-radius: 10px;
    border: none;
}

.form .signup{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top:  40px;
}

.container .form .form-group{
    margin-left: 30px;
}

.form .form-group label{
    display: block;
    margin: 5px 5px;
}

.form .form-group .user-input{
    margin-bottom: 5px;
    width: 90%;
    height: 35px;
    border-radius: 4px;
    border: none;
}

.form .form-checkbox{
    margin-top: 10px;
    text-align: center;
}

.form .button{
    text-align: center;
    margin-top: 10px;
}

.form .button .register{
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
}

.form .footer{
    text-align: center;
    margin-top: 10px;
}
