body{
    margin: 0;
    padding: 0;
}

.container{

}

.container .nav-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: burlywood;
}

.nav-bar .nav-bar-left{
    padding: 10px 50px;
}

.nav-bar .nav-bar-right{
    padding: 10px 50px;
}

.nav-bar .nav-bar-left span,
.nav-bar .nav-bar-right span{
    margin: 20px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content .card{
    margin: 70px;
    background-color: rgb(222, 222, 222);
    width: 200px;
    height: 250px;
    border: none;
    border-radius: 10px;
}

.content .card .card-body img{
    width: 100%;
    border-radius: 10px;
}

.card .card-footer{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.content .card .card-footer button{
    padding: 7px 23px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
}
