body{
    margin: 0;
    padding: 0;
}

.container{
}

.nav-bar{
    display: flex;
    background-color: coral;
    justify-content: space-between;
}

.nav-bar .nav-bar-left{
    margin-left: 20px;
    align-self: flex-start;
    padding: 10px 50px;
}

.nav-bar .nav-bar-right{
    margin-right: 20px;
    align-self: flex-end;
    padding: 10px 50px;
}

.nav-bar .nav-bar-left span,
.nav-bar .nav-bar-right span{
    margin: 15px;
}

.content{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    margin: 20px 50px;
    width: 250px;
    height: 230px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
}

.card .card-body{
    border-radius: 10px;
}

.card .card-body img{
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.card .card-footer{
    display: flex;
    justify-content: center;
    margin-top: 11px;
}

.card .card-footer .button{
    padding: 9px 27px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
}
